* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* UTILITIES */

header {
    background-color: yellow;
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#sidebar {
    height: calc(100vh - 75px);
    background-color: blue;
    width: 120px;
    background-image: url(../img/sidebar-bg.png);
    background-color: rgb(22, 26, 41);
    position: fixed;
    top: 75px;
    left: 0;
}

main {
    margin-top: 75px;
    background-color: rgb(233, 233, 233);
    display: flex;

}

#content {
    width: calc(100% - 120px);
    height: calc(100vh - 75px);
    overflow-y: auto;
    float: right;
}

.content-up {
    background-color: blue;
    height: 50px;
}

/* CUSTOM */
.title {
    font-size: 20px;
    font-weight: 600;
}

.sub_title {
    font-size: 12px;
    font-weight: 600;
    color: rgb(84, 84, 84);
}

img {
    width: 20px;
    height: 20px;
    display: inline-block;
}

.txt {
    font-size: 12px;
    font-weight: 500;
}

.txt-white {
    color: white;
    list-style-type: none;
    margin-top: 20px;
}

.txt-bold {
    font-weight: 600;
    line-height: 40px;
    margin-left: 10px;
}

.simbol_bottom {
    margin-top: 600px;
}

.content-2 {
    margin-top: 20px;
}

.content-1 {
    margin-top: 20px;
}

.content-1 input {
    margin-right: 8px;
}

