* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* UTILITIES */

.content-nav {
    background-color: aquamarine;
    height: 50px;
}

.content-side {
    background-color: brown;
    height: 100vh;
}

.content-right {
    background-color: aqua;
    height: 100vh;
}

.content-header {
    background-color: blue;
    height: 50px;
}

.content-1 {
    background-color: green;
    height: 300px;
    border: 1px solid gray;
}

.content-2 {
    background-color: yellow;
    height: 100px ;
}

