* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* UTILITIES */

.content-nav {
    background-color: aquamarine;
    height: 50px;
}

.background {
    background-image: url(../img/sidebar-bg.png);
    height: 100vh;
    background-color: rgb(22, 26, 41);
}

.background_grey {
    background-color: rgb(233, 233, 233);
}

.content-header {
    background-color: blue;
    height: 50px;
}

/* CUSTOM */
.title {
    font-size: 20px;
    font-weight: 600;
}

.sub_title {
    font-size: 12px;
    font-weight: 600;
    color: rgb(84, 84, 84);
}

img {
    width: 20px;
    height: 20px;
    display: inline-block;
}

.txt {
    font-size: 12px;
    font-weight: 500;
}

.txt-white {
    color: white;
    list-style-type: none;
    margin: 20px;
}

.txt-bold {
    font-weight: 600;
    line-height: 40px;
    margin-left: 10px;
}

.simbol_bottom {
    margin-top: 750px;
}

.content-2 {
    margin-top: 20px;
}

.content-1 {
    margin-top: 20px;
}

